# Dependencies
/node_modules

# Build output
/build
/.cache
/public/bundle.js
/public/bundle.js.map

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

.env
# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
*.pnp.js
.pnp.js.map

# Dependency directories
**/coverage
**/node_modules
**/.cache
**/public/bundle.js
**/public/bundle.js.map

# Optional: Exclude package-lock.json if using Yarn
# package-lock.json

# Optional: Exclude yarn.lock if using npm
# yarn.lock
